# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Yarn
.yarn/
.yarnrc
.yarn-integrity
.pnp.*
.yarn-error.log

# Sublime Text
.sublime-workspace
.sublime-project
.sublime-settings

# Compiled files
*.min.js
*.min.css

# Dependency directories
/jspm_packages

# IDE and editor files
.idea/
.vscode/
.sublime/

# Ignore user-specific files
*.suo
*.user
*.userosscache

